{% extends "bootstrap/base.html" %}

{% block title %}Login - Environment Request{% endblock %}

{% block styles %}
<style>
.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f0f0f5;
    border-radius: 24px;
}

.box h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    color: black;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    width: 280px;
    border-color:  #2ecc71;
}

.box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover {
    background: #2ecc71;
}

.box label[for = "remember"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;   
    text-align: center; 
}
</style>
{% endblock %}


{% block content %}
<div class="box">
<div class="container">
<div class="row">
<div class="col-md-offset-4 col-md-4">
<div class="login-panel panel panel-default">
<div class="panel-heading">
<h1>Login</h1>
</div>
<div class="panel-body">
    <form action="{{ url_for_security('login') }}" method="POST" name="login_form" class="form">
        {{ login_user_form.hidden_tag() }}
        <div class="form-group">
            {{ login_user_form.email(class='form-control', placeholder='email address') }}
        </div>
        <div class="form-group">
            {{ login_user_form.password(class='form-control', placeholder='password') }}
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    <label>
                        {{ login_user_form.remember }} {{ login_user_form.remember.label }}
                    </label>
                </div>
                {{ login_user_form.submit(class='btn btn-primary pull-right') }}
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}