{% extends "bootstrap/base.html" %}

{% block title %}Edit Request - Environment Request{% endblock %}

{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container">
<h2>Edit Request</h2>

{% from "_formhelpers.html" import render_field, render_datefield %}
<form method=post>
  <dl>
    {{ render_field(form.environment) }}
    {{ render_field(form.requestedby) }}
    {{ render_field(form.version) }}
    {{ render_field(form.swp_number) }}
    {{ render_field(form.zones) }}  
    {{ render_datefield(form.start_date, 'datetimepicker1') }}
    <p>*Minimum tolerance of 24 hours between start and delivery date.</p>
    {{ render_datefield(form.delivery_date, 'datetimepicker2') }}
    {{ render_field(form.backup_db) }}
    {{ render_field(form.keep_data) }}
    {{ render_field(form.keep_ld) }}            
    {{ render_field(form.osb_integration) }}
    {{ render_field(form.ods_integration) }}
    {{ render_field(form.oss_integration) }}        
    {{ render_field(form.source_uat_ref) }}   
    {{ render_field(form.delivery_notification) }}    
  </dl>
  <p><input class="btn btn-success" type=submit value=Submit></p>
</form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='filterbyversion.js') }}">
</script>
<script>
$(function() {
    $('#oss_integration option').filter(function() {
    return $(this).text() == '{{ form.oss_integration.data|safe }}';
  }).attr('selected', true);
  }
);
$(function() {
    $('#ods_integration option').filter(function() {
    return $(this).text() == '{{ form.ods_integration.data|safe }}';
  }).attr('selected', true);
  }
);
$(function() {
    $('#osb_integration option').filter(function() {
    return $(this).text() == '{{ form.osb_integration.data|safe }}';
  }).attr('selected', true);
  }
);
$(function() {
    $('#environment option').filter(function() {
    return $(this).text() == '{{ form.environment.data|safe }}';
  }).attr('selected', true);
  }
);
$(function() {
    $('#selectswp option').filter(function() {
    return $(this).text() == '{{ form.swp_number.data|safe }}';
  }).attr('selected', true);
  }
);
$(function() {
    $('#source_uat_ref option').filter(function() {
    return $(this).text() == '{{ form.source_uat_ref.data|safe }}';
  }).attr('selected', true);
  }
);
{% if form.keep_ld.data == True %}
$('#keep_ld').attr("checked", 'true');
{% endif %}
{% if form.keep_data.data == True %}
$('#keep_data').attr("checked", 'true');
{% endif %}
{% if form.backup_db.data == True %}
$('#backup_db').attr("checked", 'true');
{% endif %}
</script>
{% endblock %}